<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8cd501fe-f7d7-43dd-814c-fad79b16e16b/resourcegroups/BeeInnovative/providers/Microsoft.Web/sites/beeInnovative20250114142339</ResourceId>
    <ResourceGroup>BeeInnovative</ResourceGroup>
    <ApiResourceId>/subscriptions/8cd501fe-f7d7-43dd-814c-fad79b16e16b/resourceGroups/BeeInnovative/providers/Microsoft.ApiManagement/service/beeInnovativeapi/apis/beeInnovative</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://beeinnovative20250114142339.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5f1ea320-64ae-4e3f-a640-89ba647ff4f3</ProjectGuid>
    <MSDeployServiceURL>beeinnovative20250114142339.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>beeInnovative20250114142339</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$beeInnovative20250114142339</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>